{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('openings_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.main_variation.label }}
      </td>
      <td>
        {{ form.main_variation }}
      </td>
      <td>
        <ul>
          {% for error in form.main_variation.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.moves.label }}
      </td>
      <td>
        {{ form.moves }}
      </td>
      <td>
        <ul>
          {% for error in form.moves.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
      <td colspan="3">
        <input type="submit" value="Add a new opening"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}