{% extends "layout.html" %}

{% block body %}
  <form method="GET" action="{{ url_for('find_games') }}">
    <div class="input-group mb-3">
      <input name="query" type="text" class="form-control" placeholder="Hae..." aria-label="Haku" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Hae</button>
      </div>
    </div>
  </form>

  <table>
    <tr>
      <th style="padding-right: 10px;">Pelaajat</th>
      <th style="padding-right: 10px;">Päivämäärä</th>
      <th style="padding-right: 10px;">Sijainti</th>
      <th style="padding-right: 10px;">Tulos</th>
      <th></th>
    </tr>
    {% for game in games %}
    <tr>
      <td style="padding-right: 10px;">{{ game.white_player }} - {{ game.black_player }}</td>
      <td style="padding-right: 10px;">{{ game.game_date }}</td>
      <td style="padding-right: 10px;">{{ game.game_location }}</td>
      <td style="padding-right: 10px;">{{ game.result }}</td>
      <td><a href="{{ url_for('game_view', game_id=game.id) }}">Katso pelin tiedot</a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}