{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('games_create') }}">
  <span>Lopputulos (1 valkoinen voitti, 0 tasapeli, -1 mustavoitti)</span>
  <input type="text" name="result"/><br/>
  <span>Valkoisen pelaajan nimi</span>
  <input type="text" name="whitePlayer"/><br/>
  <span>Mustan pelaajan nimi</span>
  <input type="text" name="blackPlayer"/><br/>
  <span>Aloitus</span>
  <input type="text" name="opening"/><br/>
  <span>Päivämäärä</span>
  <input type="text" name="game_date"/><br/>
  <span>Pelin sijainti</span>
  <input type="text" name="game_location"/><br/>
  <span>Siirrot</span>
  <textarea type="text" name="moves"></textarea><br/>
  <input type="submit" value="Add a new game"/>
</form>
{% endblock %}